#screening-info{
    width: 160px; 
    height:70px; 
    margin:10px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    list-style-type: none;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color:rgb(139, 0, 0);
    transition:.3s all ease;
    transform:scale(1.1);
  
  }

h1 {
    margin: 0 50px;
    color: whitesmoke;
}

