body {
    background: #272727;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.navMenu {
  width: 100%;
    text-align: center;
    background-color: whitesmoke;
    padding-top: 0px;
    padding-bottom: 30px;
    }

.navMenu a {
  color: #272727;
  text-decoration: none;
  font-size: 2.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 250px;
}

.navMenu a:hover {
  color:rgb(139, 0, 0);
  transition:.3s all ease;
  transform:scale(1.1);

}

  .spacer{
    height: 50px;
}
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  * img{
    max-width:100%;
    height:auto;
  }
  
  .movies-container{
    max-width:90%;
    margin:3rem auto
  }
  
  
  .movies-container{
    display:flex;
    flex-wrap:wrap;
  }
  
  .movie{
    width:31%;
    padding:1%;
    position:relative;
  }
  
  .movie:hover{
    transition:.3s all ease;
    transform:scale(1.1);
  }
  
  .parallax{
      background-image: url("https://static.seekingalpha.com/cdn/s3/uploads/getty_images/1281543304/medium_image_1281543304.jpg");
      height: 350px;
      background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .footer{
      padding-top: 30px;
      font-size: 0.5em;
  }

  .parallax p{
      font-size: 25px;
      color: whitesmoke;
      text-align: center;
      padding-top: 10%;
      padding-left: 10%;
      padding-right: 10%;
      line-height: 1.5;
      margin: 0px;
  }

  #logo{
      width: 350px;
      margin-bottom: -80px;
        margin-top: -40px;
        padding-right: 100px;
  }

  #logo:hover{
    transition:.3s all ease;
    transform:scale(1.1);
}

h3{
    text-align: center;
    font-size: 40px;
    color: whitesmoke;
}